# VSCode settings:
.vscode/*

# CLion settings:
.idea/*

# MacOS system files:
.DS_Store
./Foil_vol_calc2/.DS_Store
./Foil_vol_calc2/cmake-build-debug/.DS_Store
./HipoLooper/framework/.DS_Store
./HipoLooper/framework/classes/.DS_Store
./HipoLooper/framework/functions/.DS_Store
./HipoLooper/framework/namespaces/.DS_Store
./HipoLooper/framework/namespaces/general_utilities/.DS_Store
./HipoLooper/framework/namespaces/plotters/.DS_Store
./HipoLooper/framework/namespaces/settings/.DS_Store
./HipoLooper/framework/namespaces/setup/.DS_Store
./HipoLooper/framework/scripts/.DS_Store
./HipoLooper/framework/structures/.DS_Store
./HistoConverter/.DS_Store
./gst_Looper_2N/.DS_Store
./gst_Looper_2N/source/.DS_Store
./gst_Looper_2N/source/classes/.DS_Store
./gst_Looper_2N/source/classes/clas12ana/.DS_Store
./gst_Looper_2N/source/data/.DS_Store
./gst_Looper_2N/source/data/amaps/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_1e_sample_2070MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_1e_sample_4029MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_1e_sample_5986MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_en_sample_2070MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_en_sample_4029MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_en_sample_5986MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_ep_sample_2070MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_ep_sample_4029MeV/.DS_Store
./gst_Looper_2N/source/data/amaps/Uniform_ep_sample_5986MeV/.DS_Store
./gst_Looper_2N/source/functions/.DS_Store
./gst_Looper_2N/source/includes/.DS_Store
./gst_Looper_2N/source/namespaces/.DS_Store
./gst_looper/.DS_Store
./gst_looper/source/.DS_Store
./gst_looper/source/classes/.DS_Store
./gst_looper/source/classes/clas12ana/.DS_Store
./gst_looper/source/functions/.DS_Store
./gst_looper/source/includes/.DS_Store

# CMake build directories:
cmake-build-debug/
build/
